Source: r3
Maintainer: Johnny Accot <johnny@accot.fr>
Section: python
Priority: optional
Build-Depends: dh-python, python3-all-dev, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/lucemia/pyr3

Package: python3-r3
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: a python wrapper for r3

